header>h1{
    text-align: center;
}

.main-container{
    display: flex;
}

/* Display Style */
.container-item{
    width: 100%;
    padding: 24px;
}

.container-item>h2{
    text-align: center;
}

.container-result{
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 24px;
    border-radius: 15px;
}

.container-form{
    text-align: left;
    background-color: aliceblue;
    padding: 24px;
    border-radius: 15px;
}

.container-form>div {
    padding: 8px;
}

.form-item {
    height: 24px;
    border: 0px;
    border-radius: 8px;
    background-color: white;
}

button {
    border: 0px;
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: lightgrey;
    border-radius: 8px;
}

.result-button {
    text-align: center;
    background-color: lightskyblue;
    color: white;
}
#result-button {
    background-color: lightskyblue;
    color: white;
}

.result-integration {
    text-align: center;
    margin-block: 15px;
}

#calculate-button {
    background-color:lightskyblue;
    color: white;
    margin-top: 5px;
}

.tambahan{
    font-size: 18px;
    margin-bottom: 5px;

}

#isi-tambahan {
    font-size: 16px;
    margin-block: 0px;
}

.result-extension {
    margin-block: 0px;
}

.consultant-button {
    margin-block: 8px;
}

.description {
    margin-top: 10px;
}

.penyakit {
    background-color: aliceblue;
}

.penyakit-item {
    text-align: center;
    margin-bottom: 0px;
}

#penyakit-item {
    margin-block: 0px;
    text-align: center;
}